
.satyam1{
    background-color: rgba(127, 255, 0,0.7);
}
.satyam2{
    background-color: rgba(135, 206, 235,0.7);
}
*{
    font-family :Arial,Verdana, Geneva, Tahoma, sans-serif;
    color: red;
    font-size: x-large;
    /* background :; */
}
body{
    background-color: rgb(94, 184, 226) ;
}
input{
    color: firebrick;
}
text{
    color: olive;
}
h1{
    color: saddlebrown;
    font-size: xx-large;
}
.abc{
    
}

}
