@font-face{
    font-family: "Chewy-Regular";
    src: url('Chewy-Regular.ttf');
}
h1{
    text-align: center;
   font-size: 4vw;
   font-stretch: extra-expanded;
    color: rgb(255,74,59);
}

body{
    background-color: rgb(32,33,44) ; 
    background-size: cover;
    font-size: 10px;
}

@media screen and (max-width:1000px){
#imgb{
		width:100%;
	}}
   
ul{    
    display: flex;
    justify-content: space-around;
    padding: 10px ;
    list-style: none;
    text-align: center;
    background-color: #EEE5E4;
    background-size: cover;
    background-attachment:none; 
    margin-block-start:1em;
    margin-block-end: 0em;
    margin-inline-start: 0em;
    margin-inline-end: 0em;
}

img{

    width: 10%;
    height:15%;

}

/* nav{
	width: 110%;
	position: absolute;
	top: 50%; left: 50%;
    transform: translate(-50%,-50%);
} */
a{
    display: inline-block;
    transition: all 0.4s;
    border: 5px solid Transparent;
    color: #C9242A;
    text-decoration: none;
    letter-spacing: 2px;
    font-size: 12px;
}

a:hover{
    background-position: 100%;
    border-bottom-color:#C9242A;
    border-top-color:#C9242A;
    
    padding: 15px;
    filter: blur(0);
    transform: translate(16px);
}

.ullib{
    display: inline-block;
    transition: all 0.4s;
    border: 5px solid Transparent;
    color: #C9242A;
    text-decoration: none;
    letter-spacing: 2px;
    font-size: 12px;
}
table, th, td {
    border: 1px solid whitesmoke;
  }
table{
    width: 100%;
    font-size: 24px;
    background-image: url(images/227310.jpg);
    background-size: contain;
    background-attachment: fixed;
    /* border-color: #EEE5E4; */
}
th{
    background-color: rgb(32,33,44) ; 
    
    color: #F9CA1F;
   
}
td,.reflink{
   
    color: #EEE5E4 ;
    /* width: 60%; */
    font-size: 18px;
}

/* .libpic{
    width: 400;
    height: 300;
    border-style: outset;
} */
.topper{
    text-align: center;
    font-size: 30px;
    padding: 5px;
    
}

.row{
    display: flex;
    justify-content: space-around;
}
.column{
    flex: 33.33%;
    padding:5px;
    margin-left: 10px;
    margin-right: 10;
    margin-bottom: 20px;
    
}
