@font-face{
    font-family: "Chewy-Regular";
    src: url('fonts/Chewy-Regular.ttf');
}  
body{
    background-color: rgb(32,33,44) ; 
    background-size: cover;
    font-size: 15px;
}
h1{
    text-align: center;
   
    color: rgb(255,74,59);
}
   
ul{ 
    
    display: flex;
    justify-content: space-around;
    padding: 10px ;
    list-style: none;
    text-align: center;
    background-color: #EEE5E4;
    background-attachment:none; 
    margin-block-start:1em;
    margin-block-end: 20em;
    margin-inline-start: 0em;
    margin-inline-end: 0em;
}

img{
    width: 100px;
    height: 150px;

}

nav{
	width: 110%;
	position: absolute;
	top: 50%; left: 50%;
    transform: translate(-50%,-50%);
}
a{
    display: inline-block;
    transition: all 0.4s;
    border: 5px solid Transparent;
    color: #C9242A;
    text-decoration: none;
    letter-spacing: 2px;
    font-size: 15px;
 

}
a:hover{background-position: 100%;
    background-color:rgb(229,106,39);
    padding: 15px;
    filter: blur(0);
    transform: translate(16px);
}
